@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@custom-variant dark (&:is(.dark *));


/* fallback system */
:root {
  --font-exo2: "Exo 2", "Exo Fallback", sans-serif;
}
a,button{
    cursor: pointer;
}
.swiper-pagination-bullet {
  background: #d1d5db; /* gray-300 */
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #fff; /* green-600 */
  width: 25px;
  border-radius: 9999px;
}




